@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* upper-card js dynamic */
.upper_card{
    width:100%;
    height:60vh;
    margin-top: 10px; 
     
}
.upper_card_under{
    width: 70%;
    height: inherit;
    background-color: #2c2c54;
    padding: 5px;
    border-radius: 10px;
    margin: 0px auto;
    border: 1px solid #333;
    box-shadow: 0px 0px 20px #474787;
}

.upper_card_under_forDisplay{
    display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item_image_uper-card{
width: 30%;
}

.item_image_uper-card-1{
    width: 100%;
    height: 262px;
    box-shadow: 0px 0px 10px #706fd3;
    border-radius: 5px;
    margin: 5px;
    background: var(--bg-photo);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}


.upper-item_title{
    font-family: "PT Serif", serif;
    padding: 10px 5px 5px 10px;
    width: 65%;
    color: #d2dae2;
   

}
.upper-item_title h1{
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    color: #05c46b;
}
.upper-item_title li{
    list-style: none;
    font-size: 24px;
    color: #d2dae2;
}
.upper-item_title p{
    padding:1rem 0 0 .5rem;
    font-size: 1rem;
}
.icon-uppercard{
    display: flex;
    width: 50%;
    padding: 15px 0px 0px 10px;
}

.icon-uppercard a{
    display: inline-block;
    color: #fff;
    width: 40px;
    height: 40px;
}
.icon-uppercard a svg{
    color: #fff;
}
.icon-uppercard a:hover svg{
    color:#05c46b ;
}


/* search box  */
#search{
    display: flex;
    width: fit-content;
    box-shadow: 5px 5px 10px 0.5px gray;
    border-radius: 20px;
    margin: 20px auto 30px;
    overflow: hidden;  
 
    
}

#search:hover #input_text{
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
}
#search:hover #search_btn{
    background-color: rgba(255, 0, 0,0.6);
    color: #000;
}
#input_text{
    all: unset;
    width: 250px;
    padding: 10px 15px;
    background: #000;
    margin: 0;
    font-weight:400;
    color: white;
    caret-color: aqua;
    font-size: 15px;
    

}

#search_btn{
    all: unset;
    padding: 10px 15px;
    margin: 0;
    background: red;
    font-family: inherit;
    font-size: 16px;
    font-weight:400;
    cursor: pointer;
    

}




#items_container{
display: flex;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;

}

#not_found{
    font-family: "PT Serif", serif;
   display: inline-block;
    text-align: center;
    color:#ff5e57;
    margin-top: 60px;
    font-size:2rem;
    font-variant: small-caps;
    
}

.items{
    width: 250px;
    height: 320px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    
}
.item_image{
    width: 100%;
    height: 60%;
}

.item_image img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;
}

.item_title h6{
    font-size: 25px;
    padding: 5px 5px 0px 5px;
}


.item_btn {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.item_btn .details_btn{
    padding: 3px 5px;
}

